{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />

<div class="title">
  <h2>The Lair Menu</h2>
</div>

<div class="crustSizes text">
  <h2>Crust Sizes</h2>
  <span>Small 1.500kr<br></span>  
  <span>Medium 2.000kr<br></span> 
  <span>Large 3.000kr<br></span>
  <span>Extra Large<br></span>
</div>

<form role="search" id="Searchform" method="get" action="{% url 'search_filter' %}">
  <input
    type="search"
    id="query"
    name="q"
    placeholder="  Search for your favorite"
    aria-label="Search through site content"
    value="{{ search_query }}"
  />
  <button type="submit">Search</button>
</form>

<div id="productList">
  {% if products %}
    {% for product in products %}
      <span class="text">
        <h2 id="name">{{ product.name }}</h2>
        <p id="description">{{product.description}}</p>

        <form id="detailButton" action="{% url 'menuItem' %}" method="get">
          <input type="hidden" name="id" value="{{ product.id }}">
          <button type="submit">Details</button>
        </form>
      </span>
    {% endfor %}
  {% else %}
    <p>No products found.</p>
  {% endif %}
</div>

{% endblock %}