{% extends 'base.html' %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/menu_item.css' %}"
/>
<script defer src="{% static 'js/menu_item.js' %}"></script>

<div class="pizza-container">
  <div class="pizza-details">
    <h1 class="pizza-name">{{ product.name }}</h1>
    <div class="pizza-description">{{ product.description }}</div>
    <form method="POST" action="{% url 'add_to_cart' product.id %}">
      {% csrf_token %}
      <div class="pizza-options">
        <div class="pizza-size">
          <button class="size-btn">Small</button>
          <<button class="size-btn">Medium</button> <<button class="size-btn">
            Large
          </button>
        </div>
        <div class="pizza-quantity">
          <input
            type="number"
            name="quantity"
            class="quantity-input"
            value="1"
          />
          <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
