{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />

<div class="title">
  The Lair Menu
</div>

<div class="subtitle">Pizzas</div>

<div class="products-container">
  {% for product in pizzas %}
    <div class="products">
      <p class="name text">{{ product.name }}</p>
      <p class="description text">{{product.description}}</p>
      <span class="text">
        Small {{ product.small_price }} kr <br>
        Medium {{ product.medium_price }} kr <br>
        Large {{ product.large_price }} kr
      </span>

      <form  action="{% url 'menuItem' %}" method="get">
        <input type="hidden" name="id" value="{{ product.id }}">
        <button class="productbutton text" type="submit">Details</button>
      </form>
    </div>
  {% endfor %}
</div>


  <div class="subtitle">Sides</div>
  <div class="products-container">
  {% for product in sides %}
    <div class="products">
      <p class="name text">{{ product.name }}</p>
      <p class="description text">{{product.description}}</p>
      <span class="text">{{ product.price }} kr</span>

      <form  action="{% url 'menuItem' %}" method="get">
        <input type="hidden" name="id" value="{{ product.id }}">
        <button class="productbutton text" type="submit">Details</button>
      </form>

    </div>
  {% endfor %}
</div>


  <div class="subtitle">Drinks</div>
  <div class="products-container">
  {% for product in drinks %}
    <div class="products">
      <p class="name text">{{ product.name }}</p>
      <p class="description text">{{product.description}}</p>
      <span class="text">{{ product.price }} kr</span>

      <form  action="{% url 'menuItem' %}" method="get">
        <input type="hidden" name="id" value="{{ product.id }}">
        <button class="productbutton text" type="submit">Details</button>
      </form>

    </div>
  {% endfor %}

  {% if not pizzas and not sides and not drinks %}
    <p>No products found.</p>
  {% endif %}
</div>
{% endblock %}