{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/offer_item.css' %}"/>

<div class="offer-container">
  
  <div class="firstDiv offer-detail">
    <h1 class="name-offer title" id="name-offer">{{ offer.name }}</h1>
    <p class="description text">{{ offer.description }}</p>
    <p class="price text" id="price-offer">{{ offer.price }}</p>
    {% if not request.user.is_authenticated %}
    <p class="error-message text">You must be logged in to add this offer to your cart.</p>
    {% else %}

    <form method="POST" action="{% url 'add_offer_to_cart' offer.id %}">
      {% csrf_token %} 
      <div class="quantity">
        <input class="quantity-input" type="number" id="quantity" name="quantity" min="1" value="1" />
        <button type="submit" class="add-to-cart-btn">Add to Cart</button>
      </div>
    </form>
    {% endif %}
  </div>

  <div class="SecondDiv pizza-image">
    <img src="{{ offer.images }}" alt="{{ offer.name }}" />
  </div>
</div>


{% endblock %}


