
.title {
    color: rgba(23, 189, 49, 0.699999988079071);
    font-size: 50px;
    font-family: Ink Free;
    font-weight: 400;
    text-align: center;
    padding: 80px;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    margin-right: 160px;
    margin-left: 160px;
}

.about-us .text {
    text-align: center;
    color: white;
    font-family: Ink Free;
    font-weight: 400;
    line-height: 2;
}

.pizza-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border-style: solid;
    border-color:white; 
    border-width: 1px;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    margin: 0 auto;
    display: block;
}

