html {
  background-color: black;
}

.container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}


.cart {
  width: 80%;
  max-width: 1053px;
  height: auto;
  position: absolute;
  margin: auto;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);  
  z-index: 1;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 2;
}


table {
  width: 100%;
  background-color: transparent;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
}


th,
td {
  padding: 10px;
  text-align: left;
  color: rgba(217, 217, 217, 1);
  font-style: Regular;
  font-family: Ink Free;
  font-size: 30px;
}

th {
  background-color: transparent;
}

.cart-summary {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.submit-btn {
  width: 100px;
  height: 40px;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: white;
  font-size: 12px;
  opacity: 0.8;
}

.submit-btn:hover {
  background-color: rgba(23, 189, 49, 0.699999988079071);
  color: white;
}

/* breyta i sitthvorann button gera remove rauðann eða ehv  */
/* kannski lika clear chart btn  */

#quantity-input {
  width: 100px;
  height: 30px;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: white;
  font-size: 24px;
  opacity: 0.8;
}


#clear-cart-btn {
  width: 209px;
    height: 50px;
    border-color: rgba(241, 13, 40, 0.7);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    font-size: 24px;
    font-family: ink free;
    opacity: 0.8;
    margin-top:100px;
}

#clear-cart-btn:hover {
  background-color: rgba(241, 13, 40, 0.7);
  color: white;
}

.checkout{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.checkout-btn {
width: 300px;
height: 59px;
border-color: rgba(23, 189, 49, 0.699999988079071);
border-style: solid;
border-width: 1px;
border-radius: 50px;
color:white;  
background-color: black;
margin-top: 20px;
}

.checkout-btn:hover {
  background-color: green;
  color: white;
}

.my-cart {
  background-color: transparent;
  color: rgba(217, 217, 217, 1);
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Ink Free;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}

.review-order-btn {
  width: 209px;
    height: 50px;
    border-color: rgba(23, 189, 49, 0.699999988079071);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    font-size: 24px;
    font-family: ink free;
    opacity: 0.8;
    margin-top:100px;

}

.review-order-btn:hover {
  background-color: rgba(23, 189, 49, 0.699999988079071);
  color: white;
}

@media screen and (max-width: 100%) {
  .cart {
    transform: translate(-50%, -50%) scale(0.8); /* Adjust the scale value as per your requirement */
  }

  th,
  td {
    font-size: 24px; /* Adjust the font size as per your requirement */
  }
}