html {
  background-color: black;
}

.checkout-container {
    display: flex;
    background-color: black;
    margin: 60px auto;
    width: 800px;
    background-color: black;
    margin:50px auto;
    justify-content: center;
    align-items: center;
    top:50%;
  }
 
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: rgba(23, 189, 49, 0.7);
    font-family: "Ink Free", sans-serif;
    font-weight: normal;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: rgba(23, 189, 49, 0.7);
    font-family: "Ink Free", sans-serif;
    font-weight: normal;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    
  }

  input{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid white;
    background: black;
    height: 25px; 
    width: 100%;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom:20px;
  }

  #pay-at-pickup {
    margin-top: 10px;
  }

  label {
    font-weight: bold;
    font-size: 1.2rem; /* Increase the font size */
    color: rgba(23, 189, 49, 0.7);
    margin-bottom: 5px;
    font-family: "Ink Free", sans-serif;
    margin-bottom:20px;
  }

  .pay-at-pickup {
    margin-top: 10px;
  }

  .confirm-button {
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: black;
    color: green;
    font-weight: bold;
    bottom:10px;
    cursor: pointer;
  }


  .confirm-button:hover {
    color: white;
    background-color: green;
  }


  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }
  
  .col {
    flex: 1;
  }

  .hidden {
    display: none;
  }
  