
  .confirmation-container {
    top: 122px;
    left: 258px;
    width: 943px;
    height: 454px;
    position: absolute;
    border-color: rgba(255, 80, 41, 1);
    border-style: solid;
    border-width: 1px;
    background-color: black;
  }

  body {
    background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/932417a0-c39d-458f-84bb-49e93f7ffe38?org_if_sml=112945");
    background-size: fit;
  }

  .order-summary-box {
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 1);
    width: 500px;
    height: auto;
    position: absolute;
    font-size: 70px;
    font-style: Regular;
    text-align: center;
    font-family: Ink Free;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .order-text-box {
    top: 100px;
    left: 10px;
    color: rgba(255, 255, 255, 1);
    width: 900px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: center;
    font-family: Ink Free;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .food-ready-box {
    top: 330px;
    left: 190px;
    width: 500px;
    height: auto;
    position: absolute;
    font-size: 50px;
    color: rgba(23, 189, 49, 0.699999988079071);
    font-style: Regular;
    text-align: center;
    font-family: Ink Free;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
