.home-screen-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.best-offer-container {
  top: 108px;
  left: 133px;
  /* taka út hæð og breydd  */
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.bestoffers {
  top: -887px;
  left: 7px;
  width: 563px;
  height: 566px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(28, 29, 32, 0.800000011920929);
}

.best-offer-title {
  top: -840px;
  left: 120px;
  color: rgba(23, 189, 49, 0.699999988079071);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Ink Free;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.best-offer-text {
  top: -740px;
  left: 118px;
  color: rgba(23, 189, 49, 0.699999988079071);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Ink Free;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}



.order-button-container {
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/aa9cb2d0-6cba-4a49-a379-9002210cacb2?org_if_sml=147458");
}

.order-button{
  top: -320px;
  left: 50%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  width: 200px;
  height: 59px;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color:white;  
  background-color: rgba(28, 29, 32, 0.800000011920929);
  justify-content: center;
  text-align: center;
  font-family: Ink Free;
  font-size: 24px;
}


.description {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Ink Free;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}

.order-offer-price {
  color:white;
}

.description-box {
top: -680px;
left: 48px;
width: 459px;
height: 100px;
display: flex;
position: absolute;
align-items: flex-start;
flex-shrink: 1;
}


.order-text-box {
  top: 0px;
  left: 0px;
  width: 345px;
  height: 118px;

}
