

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/5e717bc6-1664-4af2-b60e-4fe1ff78932e?org_if_sml=1882371");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;


}

.best-offer-container {
  grid-column:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}


.best-offers {
  width: 400px;
  background-color: rgba(28, 29, 32, 0.8);
  padding: 20px;
  text-align: center;
  margin-left: auto;
}

.best-offer-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-family: ink free;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
  0 0 20px rgba(255, 0, 0, 1),
  0 0 30px rgba(255, 0, 0, 1),
  0 0 40px rgba(255, 0, 0, 1),
  0 0 70px rgba(255, 0, 0, 1),
  0 0 80px rgba(255, 0, 0, 1),
  0 0 100px rgba(255, 0, 0, 1);;
}

.best-offer-text {
  color: rgba(23, 189, 49, 0.7);
  font-size: 24px;
  font-family:ink free;
  margin-bottom: 20px;
}

.description-box {
  margin-bottom: 20px;
}

.description {
  color: white;
  font-size: 24px;
  font-family: ink free;
}

.best-offer-price {
  color: white;
  font-size: 24px;
  font-family: ink free;
}

.order-button-container {
  grid-column: 2;
  margin:auto;

}

.order-button {
  width: 200px;
  height: 100px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  background-color: rgba(28, 29, 32, 0.8);
  margin: auto;
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.8); 
  border: none;
  font-family: Ink Free;
  font-size: 24px;
}


.order-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 1); 
  color: rgba(23, 189, 49, 0.7);
}

a {
  text-decoration: none;
}