html {
  background-color: #000000;
  margin-top: 110px;
}

.gridContainerMenuItem {
  display: grid;
  grid-template-columns: 5fr 0fr;
}

.div1 {
  font-family: Ink Free;
  font-size: 20px;
  color: white;
  text-align: center;
}

.innerContainer {
  padding-left: 50px;
  padding-right: 50px;
}

.itemName {
  font-size: 50px;
}
.bottonContainer {
  gap: 40px;
}

.orderbutton {
  width: 200px;
  height: 59px;  
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color:white;  
  background-color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  font-family: Ink Free;
}

.orderbutton:hover {
  background-color: rgba(23, 189, 49, 0.699999988079071);
  color: black;
}

.bottomContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity input[type=number] {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.add-to-cart {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.add-to-cart:hover {
  width: 100px; ;
}
