.title {
  color: rgba(23, 189, 49, 0.699999988079071);
  font-size: 70px;
  font-family: Ink Free;
  font-weight: 500;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}

/* Search and filter container */
.search-filter-container {
  display: grid;
  justify-content: right;
  gap: 10px;
  margin-bottom: 0;
}

.container {
  border: 0.5px solid rgba(23, 189, 48, 0.587);
  border-radius: 10px;
  margin-right: 75px;
}

.search-form {
  display: flex;
}

input,
select {
  all: unset;
  font-family: Ink Free;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.617);
  height: 30px;
  width: 320px;
  padding-left: 15px;
  align-items: center;
  margin: auto;
}

select {
  background-color: black;
  border: 1px solid rgba(23, 189, 49, 0.7);
  border-radius: 50px;
}

select:hover {
  cursor: pointer;
}

::placeholder {
  color: rgba(255, 255, 255, 0.617);
  opacity: 0.7;
}

.search-button {
  all: unset;
  font-family: Ink Free;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.617);
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  color: rgba(248, 66, 66, 0.735);
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
  0 0 20px rgba(255, 0, 0, 1),
  0 0 30px rgba(255, 0, 0, 1),
  0 0 40px rgba(255, 0, 0, 1),
  0 0 70px rgba(255, 0, 0, 1),
  0 0 80px rgba(255, 0, 0, 1),
  0 0 100px rgba(255, 0, 0, 1);
  cursor: pointer;
}

.filter-button {
  all: unset;
  font-family: Ink Free;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.617);
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

.container select {
  border: none;
}

.subtitle {
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  font-family: Ink Free;
  font-weight: 400;
  white-space: nowrap;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
  0 0 20px rgba(255, 0, 0, 1),
  0 0 30px rgba(255, 0, 0, 1),
  0 0 40px rgba(255, 0, 0, 1),
  0 0 70px rgba(255, 0, 0, 1),
  0 0 80px rgba(255, 0, 0, 1),
  0 0 100px rgba(255, 0, 0, 1);
  padding-left: 90px;
  padding-bottom: 5px;
  margin-top: 0;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-right: 1%;
  padding-left: 1%;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
  height: auto;
  box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
  border: solid 1px rgb(135, 123, 123);
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.text {
  font-family: Ink Free;
  color: white;
  font-size: 20px;
}

.name {
  font-size: 40px;
  margin-bottom: 15px;

}
.description {
  margin: 0;
}

span {
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 1.5;
}

.buttonStyle {
  width: 150px;
  height: 45px;
  border-color: rgba(23, 189, 49, 0.699999988079071);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color:white;  
  background-color: black;
  font-family: Ink Free;
  font-weight: 500;    
  font-size: 25px;
  margin-bottom: 70px;
}

.buttonStyle:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

/* Error message */
#errorMessage{
  color: white;
  font-family: Ink Free;
  font-size: 30px;
  font-weight: 400px;
  margin-top: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}