.title {
    color: rgba(23, 189, 49, 0.699999988079071);
    font-size: 50px;
    font-family: Ink Free;
    font-weight: 400;
    text-align: center;
}

.crustSizes {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
    margin-top: 160px;
    align-items: center;
    padding: 0px;
}

#productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 8em;
}

.span {
    padding-top: 50px;
    padding-right: 50px;
}

.text {
    font-family: Ink Free;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}


#Searchform {
    margin-left: 110px;
    width: 600px;
    height: 60x;
    border: solid 2px #17bd31;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    align-items:center;
}

input {
    all: unset;
    font-family: Ink Free;
    font-size: 35px;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7; 
}

svg {
    color: #fff;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding-right: 10px;
    box-sizing: content-box;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 50px;

}

#detailButton {
    display: inline;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
    font-family: Ink Free;
    color: white;
    background-color: #17bd3091;
    border: none;


}