.title {
    color: rgba(23, 189, 49, 0.699999988079071);
    font-size: 55px;
    font-family: Ink Free;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.offer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 30px;
    padding-right: 1%;
    padding-left: 1%;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    height:  auto;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    border: solid 1px rgb(135, 123, 123);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.text {
    font-family: Ink Free;
    color: white;
}

.name {
    font-size: 35px;
    margin-bottom: 15px;
}
.description {
    font-size: 24px;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    margin-bottom: 30px;
}

.offerbutton {
    width: 200px;
    height: 59px;
    border-color: rgba(23, 189, 49, 0.699999988079071);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color:white;  
    background-color: black;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px; 
}
    
.offerbutton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
    