
html {
    background-color: black;
}


.title {
    color: rgba(23, 189, 49, 0.699999988079071);
    font-size: 50px;
    font-family: Ink Free;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/aa9cb2d0-6cba-4a49-a379-9002210cacb2?org_if_sml=147458');
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
    animation: move-background 30s linear infinite;
    background-size: 100px;
    
  }
  
  @keyframes move-background {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }



.profiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}



.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-color:white; 
    border-width: 1px;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    
}

h2.name {
    color:white;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: Ink Free;

}

h2.email {
    color: white;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: Ink Free;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.my-orders {
    width: 600px;
    height: 600px;
    color:white;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    border: solid 1px rgb(135, 123, 123);
    padding: 10px;

}


