
html {
    background-color: black;
    
}

.profiles {
    background-color: black;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-color:white; 
    border-width: 1px;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    
}

h2.name {
    color:white;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: Ink Free;

}


.profiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 300px;
    
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.my-orders {
    width: 600px;
    height: 600px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgba(23, 189, 49, 0.699999988079071);
    border-width: 1px;
    color:white;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(16, 163, 48, 0.75);

}


