
html {
    background-color: black;
}

.title {
    color: rgba(23, 189, 49, 0.699999988079071);
    font-size: 50px;
    font-family: Ink Free;
    font-weight: 400;
    text-align: center;
}


.profiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}



.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-color:white; 
    border-width: 1px;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    
}

h2.name {
    color:white;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: Ink Free;

}

h2.email {
    color: white;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: Ink Free;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.my-orders {
    width: 600px;
    height: 600px;
    color:white;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    border: solid 1px rgb(135, 123, 123);
    padding: 10px;

}


