/* heldur utan um All */
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: right;
    font-family: Arial, sans-serif;
    color:white;
}

/* kassin utan um formin */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    padding:40px;
    box-shadow: 10px 10px 5px 0px rgba(87, 85, 85, 0.75);
    width: 600px;
}

h2 {
    font-family: ink free;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 0, 0, 1),
    0 0 30px rgba(255, 0, 0, 1),
    0 0 40px rgba(255, 0, 0, 1),
    0 0 70px rgba(255, 0, 0, 1),
    0 0 80px rgba(255, 0, 0, 1),
    0 0 100px rgba(255, 0, 0, 1);
    margin-top: 0;
    margin-bottom: 0;
}

label {
    font-family: ink free;
    font-size: 25px;
    color:green;
    display: block;
    cursor: pointer;
    font-weight: 500;  
    margin-bottom: 5px;
    margin-top: 15px; 
    text-align: left;
}



input, select {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: black;
    transition: background-color 0.3s ease;
    color:white;
    margin-left: 20px;
}

input:focus, select:focus {
    outline: none;
    background-color: #1a1a1a;
    color:white;
}

button[type="submit"] {
    width: 209px;
    height: 50px;
    border-color: rgba(23, 189, 49, 0.7);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    font-size: 24px;
    font-family: "ink free";
    opacity: 0.8;
}

.signup-signup {
    width: 200px;
    height: 200px;
    background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/aa9cb2d0-6cba-4a49-a379-9002210cacb2?org_if_sml=147458");
    background-size: cover;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-redirect {
    font-size: 24px;
    font-family: "ink free";
    color: white;
    margin-top: 20px;
    margin-left: 1000px;
    margin-bottom: 35px;
    display: flow-root;
}

.helptext {
    font-size: 18px;
    font-family: "ink free";
    color: white;
    margin-top: 20px;
    text-align: left;
}

.login-redirect-btn{
    background: none;
    border: solid;
    border-color: rgba(23, 189, 49, 0.7);
    border-radius: 50px;
    color: white;
    font-size: 24px;
    font-family: "ink free";
    opacity: 0.8;
    width: 200px;
    
}

.login-redirect-btn:hover {
    background-color: #3e8e41;
}

p.sub-login {
    font-size: 24px;
    font-family: "ink free";
    color: white;
}


.signup-signup button {
    background: none;
    border: solid;
    border-color: rgba(23, 189, 49, 0.7);

    color: white;
    font-size: 24px;
    font-family: "ink free";
    opacity: 0.8;
}

.signup-signup button:hover {
    background-color: #3e8e41;
}