<div class="banner-container">
  <div>
    <a href="{% url 'home' %}" class="bannerText">Home</a>.
  </div>
  <div>
    <a href="{% url 'offers' %}" class="bannerText">Offers</a>
  </div>

  <div>
    <a href="{% url 'menu' %}" class="bannerText">Menu</a>
  </div>

  <div>
    <span class="pizza-lairtext">Pizza Lair</span>
  </div>

  <div>
    <a href="{% url 'about' %}" class="bannerText">About Us</a>
  </div>

  {% if user.is_authenticated %}
    <div>
      <a href="{% url 'myprofile' %}" class="bannerText">My Profile</a>
    </div>
  {% else %}
    <div>
      <a href="{% url 'signin' %}" class="bannerText">Signup</a>
    </div>
  {% endif %}

  <div>
    <a href="{% url 'cart' %}" class="bannerText">Cart</a>
  </div>
</div>






