<div class="banner-container">
  <div>
    <a href="{% url 'home' %}" class="text">Home</a>
  </div>

  <div>
    <a href="{% url 'offers' %}" class="text">Offers</a>
  </div>

  <div>
    <a href="{% url 'menu' %}" class="text">Menu</a>
  </div>

  <div>
    <span class="pizza-lairtext">Pizza Lair</span>
  </div>

  <div>
    <a href="{% url 'about' %}" class="text">About Us</a>
  </div>

  <div>
    <a href="{% url 'profiles' %}" class="text">My Profile</a>
  </div>

  <div>
    <a href="{% url 'cart' %}" class="text">Cart</a>
  </div>
</div>
