{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/confirmation.css' %}" />

<body>
  <div class="confirmation-container">
    <div class="order-summary-box">
      <span class="order-summary"><span>Order summary</span></span>
    </div>

    <<div class="order-text-box">
      {% for item in cart.items %}
        <span class="order-text">
          <span>
            <span>{{ item.quantity }}x {{ item.product.name }} .......{{ item.total_price }}$</span>
            <br />
          </span>
        </span>
      {% endfor %}
      <span>total: {{ cart.get_total_price }}$</span>
    </div>

    <div class="food-ready-box">
      <span class="food-ready"><span>Food Ready at: {{ delivery_time }}</span></span>
    </div>
  </div>
</body>

{% endblock %}