{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<div class="home-screen-img">
  <img
    alt="pizzaneon"
    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/5e717bc6-1664-4af2-b60e-4fe1ff78932e?org_if_sml=1882371"
    class="homepage1-pizza1"
  />
</div>
<div class="best-offer-container">
  <div class="bestoffers"></div>
  <span class="best-offer-title"><span>Best offers</span></span>
  <img
    alt="nothing"
    src="public/playground_assets/line2653-8p3u.svg"
    class="homepage1-line2"
  />
  <span class="best-offer-text1"><span>Two for one</span></span>
  <div class="description-box-1">
    <span class="description1"
      >Get two pizzas from the menu at the price of one.</span
    >
  </div>
  <span class="best-offer-text2"><span>Family style</span></span>
  <div class="description-box-2">
    <span>
      <span class="description2">Two large pizzas of your choice,</span>
      <br />
      <span class="description2">2L soda and a side of Garlic knots</span>
    </span>
  </div>
  <img
    alt="pizza-icon"
    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/5700d754-1833-48f0-aad4-6bd6246d4579?org_if_sml=128358"
    class="pizza-icon"
  />
  <div class="order-button-container">
    <div class="order-text-box">
      <span class="order-text"><span>Order Now</span></span>
    </div>
  </div>
</div>
{% endblock %}
