{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />



<div class="home-screen-img">
  <img
    alt="pizzaneon"
    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/afb08ec6-7501-4143-b01d-8284720e4506/5e717bc6-1664-4af2-b60e-4fe1ff78932e?org_if_sml=1882371"
    class="homepage1-pizza1"/>
</div>
<div class="best-offer-container">
  <div class="bestoffers"></div>
  <span class="best-offer-title"><span>Baning offers!</span></span>
  <span class="best-offer-text"><span>{{ current_offer.name }}</span></span>
  <br>
  <div class="description-box">
    <span class="description">{{ current_offer.description }}</span>
  </div>

  <div class="best-offer-price">
    <span class="price">{{ current_offer.price }}</span>
  </div>
 
  <div class="order-button-container">
    <a href="{% url 'menu' %}">
      <button class="order-button">Order Now </button>
    </a>
  </div>
</div>

<script defer src="{% static 'js/home.js' %}"></script>

{% endblock content %}