{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}" />

<div class="title">
  <h2>Welcome {{user_profile.name}}</h2>
</div>

<div class="profiles">

    {% csrf_token %}
    {{ form }}
    <div class="profile-container">

      <img src="{{ user_profile.profile_picture.url }}" alt="Profile picture" class="profile-pic">


      <h2 class="name">{{ user_profile.name }}</h2>
      <h2 class="email">{{ user_profile.email }}</h2>

    </div>

  

  <div class="my-orders">
    <h2>My Orders</h2>
    <p>some data</p>
    <p>moredata</p>
  </div>


</div>
</div>
{% endblock %}