{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}" />

<div class="title">
  <h2>Welcome {{user_profile.name}}</h2>
</div>

<div class="profiles">

    {% csrf_token %}
    {{ form }}
    <div class="profile-container">

      <img src="{{ user_profile.profile_picture.url }}" alt="Profile picture" class="profile-pic">


      <h2 class="name">{{ user_profile.name }}</h2>
      <h2 class="email">{{ user_profile.email }}</h2>

    </div>

    <div class="my-orders">
      <h2 class="my-orders-title">Order history</h2>
      {% if orders %}
      {% for order in orders %}
      <div class="order-item">
        <p class="ordname">Name: {{ order.name }}</p>
        <p class="descr">Description: {{ order.description }}</p>
        <p class="date">Date: {{ order.date }}</p>
        
      </div>
    {% endfor %}
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
     
      <a href="{% url 'menu' %}">
      <button class="new-order-btn">Place a new order</button>
    </a> 
    </div>
  </div>
</div>
{% endblock %}