{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}" />
<script defer src="{% static 'js/users.js' %}"></script>

<div class ="signup">
<form method="POST">
  {% csrf_token %}
  {{ form }}

  
  <div class ="signup-signup">
  <button type="submit">Sign Up</button>
  </div>
  {% if form.errors %}
    <div class="error-message">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

</form>
<div class="login-redirect">
  <p class="sub-login">Already have an account?</p>
<a href="/users/login">
  <button class="login-redirect-btn" id="login-redirect">Log In</button>
</a>
</div>
</div>



{% endblock %}
